/* Xuxa */
#user-lists .list.room .user.role-manager.id-3427443 .name {
    color: #b36200 !important;
}
/* Xuxa */

/* Staff */
.icon-chat-ambassador + span {
    color: #b36200 !important;
}
.icon-chat-host + span {
    color: #26328c !important;
}
.icon-chat-cohost + span {
    color: #b30006 !important;
}
.icon-chat-manager + span {
    color: #008cb3 !important;
}
.icon-chat-bouncer + span {
    color: #00b3a7 !important;
}
.icon-chat-dj + span {
    color: #15b300 !important;
}
.icon-chat-ambassador {
	background: url("http://i.imgur.com/crYGkCU.png") !important;
}
.icon-chat-host {
	background: url("http://i.imgur.com/kFdw6NN.png") !important;
}
.icon-chat-cohost {
	background: url("http://i.imgur.com/PsG8GCm.png") !important;
}
.icon-chat-manager {
	background: url("http://i.imgur.com/ghgmwwV.png") !important;
}
.icon-chat-bouncer {
	background: url("http://i.imgur.com/oR7gn8A.png") !important;
}
.icon-chat-dj {
	background: url("http://i.imgur.com/MSL8odS.png") !important;
}
.icon-chat-subscriber {
	background: url("http://i.imgur.com/F1s4sJH.png) !important;
}
.icon-chat-silversubscriber {
	background: url("http://i.imgur.com/1bBg8g2.png) !important;
}
/* Staff */
