/* Xuxa */
#user-lists .list.room .user.role-manager.id-3427443 .name {
    color: #00ff00 !important;
}
/* Xuxa */

/* Staff */
.icon-chat-ambassador + span {
    color: #00ff00 !important;
}
.icon-chat-host + span {
    color: #00e4ff !important;
}
.icon-chat-cohost + span {
    color: #ff0000 !important;
}
.icon-chat-manager + span {
    color: #ff0000 !important;
}
.icon-chat-bouncer + span {
    color: #ff0000 !important;
}
.icon-chat-dj + span {
    color: #e4ff00 !important;
}
.icon-chat-ambassador {
	background: url("http://i.imgur.com/jON30lv.png") !important;
}
.icon-chat-host {
	background: url("http://i.imgur.com/MZ3Kov3.png") !important;
}
.icon-chat-cohost {
	background: url("http://i.imgur.com/RZP6lPF.png") !important;
}
.icon-chat-manager {
	background: url("http://i.imgur.com/BpUSN0J.png") !important;
}
.icon-chat-bouncer {
	background: url("http://i.imgur.com/OBbc74X.png") !important;
}
.icon-chat-dj {
	background: url("http://i.imgur.com/tzBTYBd.png") !important;
}
/* Staff */
